/* cabecalho */
.cabecalho{
    background-color: #C4C4C4;
    border-color: black;
    margin: auto;
    align-items: center;
    display: flex;
    padding: 5px;  
    justify-content: space-between;
    border-radius: 5px;
}
.lista{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.lista li{
    padding-left:10px; 
    padding-right: 40px;
    list-style-type: none;
    font-family: "Mukta";
    font-size: 20px;
}
a{
    text-decoration: none;
}

/* main */
.castracao h1{
    font-family:"Mukta";
    font-size: 50px;
    background-color: #C4C4C4 ;
    border-radius: 5px;
}
.castracao .titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    text-align: center;
    margin: auto;
}
.castracao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #807287;
}
.castracao p{
    font-family:"Mukta";
    font-size: 20px;
    text-align:justify;
    text-indent: 10px;
}
.castracao .paragrafo{
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #BAAEBE ;
    width: 80%;
    max-width: 1000px;
    border-radius: 5px;
    padding: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
body{
    background-color: #807287;
}
img{
    margin-top: 40px;
}


/* rodape */
.rodape{
    background-color: #C4C4C4;
    border-color: black;
    margin: auto;
    align-items: center;
    display: flex;
    padding: 5px;  
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 50px;
}
.listarodape{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.listarodape li{
    padding-left:40px; 
    padding-right: 40px;
    list-style-type: none;
    font-family: "Mukta";
    font-size: 20px;
}
a{
    text-decoration: none;
}